.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
    width: 100%;
}

.card {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

.card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
}